[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-mysql = "*"
djangorestframework = "*"
djoser = "*"
django-rest-framework-nested = "*"
requests = "*"
beautifulsoup4 = "*"
wikipedia = "*"
redis = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.10"
